$redColor: #D26864;
$darkOrange: #D69859;
$lightOrange: #E6BE68;
$yellow: #EFEB7D;
$green: #C6D673;
$defaultWhite: #FFFFFE;
$backgroundBlack: #171815;

:export {
    $redColor: #D26864;
    $darkOrange: #D69859;
    $lightOrange: #E6BE68;
    $yellow: #EFEB7D;
    $green: #C6D673;
    $defaultWhite: #FFFFFE;
    $backgroundBlack: #171815;
}